extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each post in posts_data 
      li #{post.post_id} - #{post.post_txt}
      ul
        each comment in comments_data 
          if comment.post_id == post.post_id
            li #{comment.comment_id} - #{comment.comment_txt}